
.feed {
  width: 45px;
  height: 45px;
  margin: 5rem;
  z-index: 1;
  display: inline-block;
  background: white;
  border-radius: 30%;
  opacity: 1;
  animation: opacity 100ms;
}

.feed.hidden {
  opacity: 0;
}
