.ghost {
  width: 200px;
  height: 200px;
  margin: 55px;
  z-index: 30;
  position: absolute;
  right: -500px;
  top: -28px;
  transition: right 15s ease-in;
}

.spinning {
  animation: spin3 0.5s infinite linear;
}

.moving {
  right: 1000px;
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
