.ghost {
  width: 200px;
  height: 200px;
  margin: 55px;
  z-index: 30;
  position: absolute;
  right: -500px;
  top: -28px;
  transition: right 15s ease-in;
  animation: jumping 1.2s infinite linear;
}

.spinning {
  animation: spin3 0.5s infinite linear;
}

.moving-ghost {
  right: 1300px;
}

@keyframes jumping {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(20px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
