
.pacman{
  position: absolute;
  z-index: 2;
  display: inline-block;
  margin: 25px;
  left: 25px;
  top: 38px;
}

.pacman-top{
  background-color:yellow;
  height:50px;
  width:100px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
  background-color:yellow;
  height:50px;
  width:100px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

/* Direction */
.pacman.none .pacman-top {
  animation: none;
  transform: rotate(-17deg);
}

.pacman.none .pacman-bottom {
  animation: none;
  transform: rotate(17deg);
}

.pacman.down {
  transform: rotate(90deg);
}

.pacman.left {
  transform: rotate(180deg);
}

.pacman.up {
  transform: rotate(270deg);
}

/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}
